{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<div class="card">
  <div class="card-body">
  <h4 class="card-title">Регистрация вашего аккаунта</h4>

  <form method="post">
  {% csrf_token %}
   {{ form.as_p }}
  {# {{ form|crispy }} #}

{# <div class="form_error">{{ form.non_field_errors }}</div> #}
   {# {% for f in form %} #}
     {# <p><label class="form-lable" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p> #}
     {# <div class="form-error">{{ f.errors }}</div> #}
   {# {% endfor %} #}

  <button type="submit" class="btn btn-primary btn-block">Регистрация</button><br>
  </form>

  </div>
</div>

{% endblock %}