body {
    background: #bacfc7;
}

aside {
    float: left;
    background: #7ea697;
    width: 20%;
    padding: 2.5%;
    height: 150vh;
    color: #fff;
    border-right: 5px solid #179107;
}

aside img {
    width: 60px;
    float: left;
}

aside .logo {
    font-size: 25px;
    margin-left: 25px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

aside h3 {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 22px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #834fd6;
    text-decoration: none;
    transform: scale(1.05);
}

main .img {
    float: left;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    width: 75%;
}

main .hide_button {
    float: left;
    color: #fff;

    text-align: center;
    width: 45%;
}

main .moderator_button {
    float: right;
    color: #fff;
    margin-top: 20px;
    margin-: 30px;
    text-align: center;
    width: 75%;
}

main .details {
    background:#f7f5ed;
    margin-left: 30px;
    color: #0a0a0a;
    text-align: left;
    width: 100%;
}

main .details .text-details p {
    text-align: left;
    width: 75%;
    color: #0a0a0a;
}

main .list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
main .list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
main .list-pages ul li {
	display: inline-block;
	margin: 0 40px 0 0;
}
main .list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
main .list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 5px 0 0 0;
	border: 1px solid #000;
	border-radius: 5px;
}
main .list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #834fd6;
}
main .list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 35px;
}
main .list-pages .page-num-selected:hover {
	box-shadow: none;
}


main .features h1 {font-size: 30px;}
main .features p {max-width: 400px; margin: 20px auto}
main .details p {max-width: 1000px; margin: 20px auto}

.alert-success {
    float:  left;
    margin-left: 10%;
    clear: both;
    width: 800px;
    text-align: left;
}

form {
    margin-left: 25%;
    width: 500px;
    margin-top: 5px;
}

main .form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

/* Pagination */
.pagination {
    width: auto;
    margin: 0 auto
}

.pagination,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #6163b9
}

@media only screen and (max-width: 767px) {
    .pagination__link {
        font-size: 15px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {
        background: rgba(102, 88, 175, .15)
    }
}

.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

.pagination__item:first-child {
    margin-left: 0
}

.pagination__item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1023px) {
    .pagination__item:nth-child(3),
    .pagination__item:nth-child(9) {
        display: none
    }
}

@media only screen and (min-width: 1025px) {
    .pagination__item.active:hover
    .pagination__link {
        color: #fff;
        background: #6658af
    }
}

.pagination__item.active .pagination__link {
    color: #fff;
    background: #6658af
}

.pagination__item--dots .pagination__link {
    color: #bfc0f1
}

